<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="true" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity configSource="b.config" />

	<appSettings>
		<add key="file.b" value="unity" />
		<!--84数据库连接-->
		<add key="Business" value="k1Xt3DluVJQrRDNgQ391Mod4E4x/oaj6tpVrobJrxD1m4XQRQwU59j8Khxpxx3IfAeagILgENT/KA94zFGYN4g=="/>
		<!--242潍柴现场数据库连接-->
		<!--<add key="Business" value="k1Xt3DluVJQrJeRjN2hl0Ikwbe2S4m13tpVrobJrxD1m4XQRQwU59j8Khxpxx3IfAeagILgENT/KA94zFGYN4g=="/>-->
		<add key="Config" value=""/>
		<add key="APILog" value=""/>
		<add key="ServiceName" value="iWMS_WCInterfaceService"/>
		<add key="StockDir" value="D:\logtest"/>
		<add key="WebPort" value="2024"/>
		<add key="StockBackupKeepDays" value="2"/>
		<add key="LogDir" value="D:\Logs"/>
		<add key="BaseUrl" value="http://10.0.18.97:8000/"/>
		<add key="WCMESUrl" value="http://10.0.11.40:9000/"/>
		<add key="MESUrl" value="http://10.18.0.247:8012/"/>
		<add key="Basic" value="GMS:gms7K?Ua@5mt" />
		<add key="WCWarehouseId" value="05"/>
		<add key="WCStorerId" value="WC2"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
