<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="NlogRecords.log">
  <!--Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
	 
	  <target name="console" xsi:type="ColoredConsole"
	 layout= "$[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${uppercase:${level}}] [${logger}] [${callsite}]: ${message}"/>
	  
	  <target name="file" xsi:type="AsyncWrapper">
		  <target xsi:type="File"
					 fileName="${basedir}/App_Data/nlog/${date:format=yyyy-MM}/${level}-${shortdate}.txt"
			  maxArchiveFiles="9"
				archiveEvery="Hour"
				archiveNumbering="Sequence"
		  layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}${newline}"
      />
	  </target>
  </targets>
  <rules>
    <!--跳过所有级别的Microsoft组件的日志记录-->
    <logger name="Microsoft.*" final="true" />
    <!-- BlackHole without writeTo -->

	<logger name="*" writeTo="console"/>　
	<logger name="*" writeTo="file" />
  </rules>
</nlog>