<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity configSource="b.config" />
	
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="file.b" value="unity" />
	  <add key="Config" value="k1Xt3DluVJQrRDNgQ391Mod4E4x/oaj6tpVrobJrxD2PVj5Kzt1bLtlFjB0U/3nzC2pyG1gaWI/b2wOsKJZkcg==" />
	  <add key="Business" value="k1Xt3DluVJQrRDNgQ391Mod4E4x/oaj6tpVrobJrxD1QRJcthLeA4u/MV76CQciOBIxgSy33IY/7ha3xNXEFZQ==" />
    <add key="APILog" value="" />
    <add key="LogDir" value="D:\Logs" />
    <add key="WCWarehouseId" value="05" />
    <add key="WCStorerId" value="WC2" />
	<add key="HSMES" value="10.18.0.247" />
	<add key="KMMES" value="10.18.0.249" />
	<add key="AppKey" value="factory2" />
    <add key="AppSecret" value="factory2" />
    <add key="CustomerId" value="factory2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>